body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

header {
    background-color: #343a40;
    padding: 15px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 50px;
    height: auto;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}


.navbar a:hover{
    color: rgb(4, 4, 4);
    background: rgb(240, 239, 239);
    height: 100%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.card {
    width: 200px;
    margin: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    
}

@media (max-width: 768px) {
    .card {
        width: calc(50% - 20px);
    }
}

@media (max-width: 576px) {
    .card {
        width: 100%;
    }
}

.card:hover {
    transform: scale(1.05);
}

.card-body {
    text-align: center;
}

footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}


a:active{
    background: white;
    color: black;
}

img{
    width: 1000px;
}

