/* Add your custom styles here if needed */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

*{
    margin: 0;
    padding: 0;
}

.constraints {
    color: red;
}



header {
    background-color: #343a40;
    padding: 15px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 50px;
    height: auto;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}


.navbar a:hover{
    color: rgb(4, 4, 4);
    background: rgb(240, 239, 239);
    height: 100%;
}

footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}


.container{
    margin-top: 250px;
    margin-bottom: 200px;
}

h4{
    padding: 20px 0;
}

